*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-box{
    border: 3px solid darkblue;
    background: rgba(70, 130, 180, 0.6);
    border-radius: 1vw;
    height: 90vh;
    width: 80vw;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.chat-screen{
    background: rgba(224, 255, 255, 0.60);
    margin: 1vh;
    border-radius: 1vh 1vh 0 0;
    padding: 1em;
    overflow-y: scroll;
    direction: revert;
}

.chat-screen::-webkit-scrollbar{
    display: none;
}

.chat-keyboard{
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1vh;
}

.chat-keyboard > textarea{
    resize: none;
    height: 80%;
    width: 100%;
    font-size: 20px;
    padding: 1vh;
}

.chat-keyboard > button{
    height: 20%;
    width: 100%;
    outline: transparent;
    background: steelblue;
    margin-top: 1vh;
}

.chat-keyboard > button:hover{
    cursor: pointer;
    background: orangered;
}

.sent-message{
    background: white;
    border-radius: 1em;
    height: auto;
    width: 30vw;
    padding: 1em;
    margin-top: 1vh;
    word-wrap: break-word;
    font-size: 20px;
}